/* .sidebar {
  position: sticky;
  top: 100px;
} */

.sidebar-container {
  position: sticky;
  top: 80px;
}

.profile-container {
  background-color: white;
  border-radius: 9px;
}

.bg-img {
  height: 70px;
  background-image: url('../images/sidebar-background.jfif');
  background-size: contain;
}

.profile-img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.profile-avatar {
  width: 60px !important;
  height: 60px !important;
  margin-top: -30px;
}

.profile {
  padding: 1rem 0;
  text-align: center;
  border-bottom: 0.5px solid #efefef;
  cursor: pointer;
}

.profile h3 {
  color: #000000e6;
  font-size: 1rem;
}

.profile p {
  color: gray;
  font-size: 0.9rem;
}

.views-container {
  color: gray;
  font-size: 0.9rem;
  padding: 1rem 0rem 1rem 0rem;
}

.who-viewed-you,
.post-views {
  width: 100%;
  display: flex;
  padding: 0rem 1rem;
  justify-content: space-between;
}

.who-viewed-you:hover,
.post-views:hover {
  background-color: #f3f2ef;
  cursor: pointer;
}

.who-viewed-you span,
.post-views span {
  font-weight: bold;
}

.recent-searches-container {
  background-color: white;
  margin: 1rem 0;
  border-radius: 9px;
  padding: 1rem;
}

.recent-para {
  font-size: 0.9rem;
  margin-bottom: 0.4rem;
}

.recent-searches ul {
  font-size: 0.8rem;
  font-weight: lighter;
}

.recent-searches ul li {
  display: flex;
  align-items: center;
}

.recent-searches ul li span {
  margin-left: 0.5rem;
}
